@using ViewExmple.Models
@{
    string appTitle = "Asp.Net Core Demo App";
    Person person = new Person() { Name = "Stone", DateOfBirth = Convert.ToDateTime("2000-12-11") };
}
<DOCTYPE html>
<html>
    <head>
        <title>@appTitle</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>welcome</h1>
        <h2>Hello @person.Name</h2>
        @{
            double age = Math.Round((DateTime.Now - person.DateOfBirth).TotalDays / 365.25);
        }
        <h3>@age years old</h3>
    </body>
</html>
</DOCTYPE>
